name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            generator: "Visual Studio 17 2022"
          - os: ubuntu-latest
            generator: "Unix Makefiles"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      # Vulkan SDK installation
      - name: Install Vulkan SDK (Windows)
        if: runner.os == 'Windows'
        uses: jakoch/install-vulkan-sdk-action@v1.0.5
        with:
          vulkan_version: 1.3.296.0
          optional_components: com.lunarg.vulkan.shaderc

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          wget -qO- https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo tee /etc/apt/trusted.gpg.d/lunarg.asc
          sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-jammy.list https://packages.lunarg.com/vulkan/lunarg-vulkan-jammy.list
          sudo apt-get update
          sudo apt-get install -y vulkan-sdk libsdl2-dev libshaderc-dev

      - name: Configure
        run: cmake -B build -G "${{ matrix.generator }}"

      - name: Build
        run: cmake --build build --config Release
